<body>
    <h2>Courses</h2>
    <div id="title">
      {{cTitle}}  
    </div>
    
    
    <div>
      <input #box type="text" [(ngModel)]="courseInput" appAutoGrow/>
      <button type="button" (click)="onClickMe()">Add Course</button>  
    </div>
    
    <ul>
      <li *ngFor="let course of courses">
          {{course}}
      </li>
      
    </ul>
</body>
